.nav-container {
  position: sticky;
  top: 0;
  background-color: #041629;
  box-shadow: 0 1px 0 0 transparent;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 10px;
}

.logo {
  margin-left: 5rem;
}

.nav-contents > ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-contents > ul > li > a,
.logo > a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 26px 20px;
  text-transform: uppercase;
}

.nav-button {
  margin-right: 20px;
  margin-top: 5px;
}

.nav-contents > ul > li > a:hover {
  background-color: #d365ef;
}

.hamburger,
.nav-chkbox,
.mobile-navigation {
  display: none;
}

/* Navigation Menu for Responsive (for tablet and mobile) */
@media screen and (max-width: 900px) {
  .logo {
    margin-left: 0px;
  }
  .nav-contents,
  .nav-button {
    display: none;
  }

  .hamburger {
    display: block;
    margin: 20px;
    width: 30px;
  }

  .mobile-nav-contents > ul > li {
    list-style: none;
  }

  .mobile-navigation.open {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    opacity: 0.9;
    z-index: 1;
    width: 50%;
    height: 100%;
    background-color: #041629;
  }

  .mobile-navigation.close {
    display: none;
  }

  .mobile-nav-contents > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  .mobile-nav-contents > ul > li {
    width: 100%;
    padding: 10px;
  }
}
