.nav-container {
  position: sticky;
  top: 0;
  background-color: #041629;
  box-shadow: 0 1px 0 0 transparent;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 10px;
}

.logo {
  margin-left: 5rem;
}

.nav-contents > ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-contents >ul >li > a,
.logo > a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 26px 20px;
  text-transform: uppercase;
}

.button {
  margin-right: 20px;
  margin-top: 5px;
}

.nav-contents >ul > li > a:hover {
  background-color: #d365ef;
}
