.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding-top: 20px;
  background-color: #d365ef9b;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #041629;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#name,
#email {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}

#message {
  width: 100%;
  padding: 10px;
  height: 150px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .contact-form {
    width: 100%;
    max-width: 80%;
  }
}