.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  margin: 25px;
  height: 15%;
}

.card img {
  width: 10%;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  border: 0.5px solid #6d41e0;
  box-shadow: 2 5px 9px 0 rgba(0, 0, 0, 0.2);
}

.card-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  background-color: bisque;
}

.card-skills img {
  width: 30%;
}

.card-skills:hover img {
  animation: infinite iconDrop 0.3s ease-in-out;
}

@keyframes iconDrop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
