.project-card-container {
  position: relative;
  width: 20%;
  padding: 20px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-card-container:hover .image {
  opacity: 0.2;
  cursor: pointer;
}

.project-card-container:hover .middle-text {
  opacity: 1;
  color: #6D41E0;;
}