.project-card-container {
  position: relative;
  width: 20%;
  padding: 20px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle-text {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  top: 40%;
  left: 40%;
  transform: translate(0, 50%);
  text-align: center;
}

.project-card-container:hover .image {
  opacity: 0.2;
  cursor: pointer;
}

.project-card-container:hover .middle-text {
  opacity: 1;
  color: #6d41e0;
}

@media screen and (max-width: 600px) {
  .project-card-container {
    width: auto;
  }
  .image {
    width: 12rem;
  }

  .middle-text {
    text-align: center;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .image {
    width: 12rem;
  }
}
