.project-card-container {
  position: relative;
  width: 50%;
  padding: 20px;
}

.image {
  display: block;
  width: 100%;
  transition: 0.5s ease;
}

.middle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  display: none;
  top: 0;
  justify-content: center;
  text-align: center;
}

.project-card-container:hover .image {
  cursor: pointer;
}

.project-card-container:hover .middle-text {
  display: flex;
  font-weight: 600;
  backdrop-filter: blur(2px);
  transition: 0.5s ease-out;
  font-size: large;
  justify-content: center;
  align-items: center;
  color: #3b00d1;
}

@media screen and (max-width: 600px) {
  .project-card-container {
    width: auto;
  }
  .image {
    width: 12rem;
  }

  .middle-text {
    text-align: center;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .image {
    width: 12rem;
  }
}
