.header-container {
  position: relative;
  padding: 20px;
  background-color: #6d41e0;
  background-image: url("../../assets/png/header-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.type-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
}
